.header {
    background: rgba(20, 20, 20, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(12px);

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.container h1 {
  color: rgba(215, 162, 70, 1);
  font-family: 'Poppins', sans-serif;
font-size: 30px;
margin-top: 15px;
}

.container ul {
  font-family: 'Montserrat', sans-serif;
  list-style-type: none;
  margin: 0;
  font-size: 18px;
  display: flex;
  gap: 85px;
  color: rgb(204, 204, 204);
  

}


.inicio{
  color:rgba(215, 162, 70, 1);
}



